.b-tic-tac-toe__cell {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
}

.b-tic-tac-toe {
  display: flex;
  height: 180px;
  width: 180px;
  margin: auto;
  margin-top: 35px;
  flex-wrap: wrap;
}
